*{
    padding:0;
     margin:0
    }
    html{
    scroll-behavior: smooth;
      
    }
    .header {
       position:fixed;
       height: 80px;
       background: #DC566A; 
       width:100%
    }
    .header_title {
        margin-left: 550px;
        margin-bottom: 5px;
        margin-top: 5px;
        color: white;
    }
    a {
        color: black;
        text-decoration: none;
    }
    .scientists_description {
        margin-top: 100px;
        display: flex;
        border: 5px solid #DC566A;
        width:calc(100% - 400px)  
    }
    .description {
        margin-left: 20px;
    }
    img {
        width: 220px;
        height: auto;
    }
    ._main {
      padding:10px;
      display: flex;
      justify-content:end
    }
    .navigate {
      position:fixed;
        border:4px solid #DC566A;
        height: 130px;
        margin-top:70px
    }
    .footer {
        margin-top: 230px;
        height: 50px;
        background: black;
    }
    .text_footer{
        color: white;
    }
    .nav_content {
        margin: 30px;
        margin-right: 150px;
    }
    .header_text {
        color: #DC566A;
    }
    .main_description{
        margin-right: 500px;
    }
    .scientists_name{
        margin-top: 100px;
        margin-left: 150px;
    }
    .main_content{
      padding:10px;
      display: flex;
      justify-content:end;
    }